ul {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  width: 100%;
}

.todo-list div{
  width: 100%;
  margin: 1rem;
}

@media (max-width: 720px) {
  ul {
    padding: 2rem 2rem;
  }
}